body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    margin-bottom: 1rem;
}

.maps-generator .form {
  margin-bottom: 1rem;
}

.maps-generator .form > * {
  margin-right: 1rem;
}

.maps-generator .form input {
  width: 1.5rem;
  margin-left: .25rem;
}

textarea {
    display: block;
    margin: 0 1rem 1rem 0;
    width: 90%;
    max-width: 30rem;
}

.maps, .words {
    /*margin-top: 1rem;*/
}

.page {
  display: flex;
  flex-wrap: wrap;
  width: calc(210mm - 10mm);
  border: 1px solid;
  padding: 5mm;
  justify-content: flex-start;
}

.word-page {
    display: flex;
    flex-wrap: wrap;
    width: 210mm;
    justify-content: flex-start;
}

.card-wrapper {
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  position: relative;
  width: 52mm;
  height: 52mm;
  padding: 7mm;
  display: flex;
  background: #c6b296;
}

.card-starter {
  position: absolute;
  width: 20%;
  height: 20%;
  background: red;
}

.card-starter.left {
  left: 0;
  top: 40%;
  width: 2mm;
}

.card-starter.right {
  right: 0;
  top: 40%;
  width: 2mm;
}

.card-starter.top {
  left: 40%;
  top: 0;
  height: 2mm;
}

.card-starter.bottom {
  left: 40%;
  bottom: 0;
  height: 2mm;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 3px solid #393939;
}

.card-row {
  display: flex;
  flex: 1;
  border-bottom: 3px solid #393939;
}

.card-row:last-child {
  border-bottom: 0;
}

.cell {
  flex: 1;
  border-right: 3px solid #393939;
}

.card-row .cell:last-child {
  border-right: 0;
}

.cell.black {
  background: black;
}

.cell.neutral {
  background: #d2d296;
}

.cell.silver {
  background: #808080;
}

.cell.home,
.card-starter.home {
  background: red;
}

.cell.guest,
.card-starter.guest {
  background: green;
}

.word {
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    width: calc(68.5mm - 2px);
    height: calc(36mm - 2px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.word:nth-child(3n) {
    border-right: 1px solid #cccccc;
}

.word:nth-child(1),
.word:nth-child(2),
.word:nth-child(3) {
    border-top: 1px solid #cccccc;
}

.word > div {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.word.smaller > div {
    font-size: 1.6rem;
}


