body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  display: flex;
  flex-wrap: wrap;
  width: 210mm;
  border: 1px solid;
  padding: 5mm;
  justify-content: flex-start;
}

.card-wrapper {
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  position: relative;
  width: 55mm;
  height: 55mm;
  padding: 7mm;
  display: flex;
  background: #c6b296;
}

.card-starter {
  position: absolute;
  width: 20%;
  height: 20%;
  background: red;
}

.card-starter.left {
  left: 0;
  top: 40%;
  width: 2mm;
}

.card-starter.right {
  right: 0;
  top: 40%;
  width: 2mm;
}

.card-starter.top {
  left: 40%;
  top: 0;
  height: 2mm;
}

.card-starter.bottom {
  left: 40%;
  bottom: 0;
  height: 2mm;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 3px solid white;
}

.card-row {
  display: flex;
  flex: 1;
  border-bottom: 3px solid white;
}

.card-row:last-child {
  border-bottom: 0;
}

.cell {
  flex: 1;
  border-right: 3px solid white;
}

.card-row .cell:last-child {
  border-right: 0;
}

.cell.black {
  background: black;
}

.cell.neutral {
  background: #c1c16e;
}

.cell.silver {
  background: #808080;
}

.cell.home,
.card-starter.home {
  background: red;
}

.cell.guest,
.card-starter.guest {
  background: green;
}

