body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
}

.cell.black {
  background: black;
}

.cell.neutral {
  background: #c1c16e;
}

.cell.silver {
  background: #808080;
}

.cell.home {
  background: red;
}

.cell.guest {
  background: blue;
}

